input {
    margin: 7px;
}

.main {
    background: cyan;
    width: 60%;
    display: inline-block;
    align-items: center;
    padding: 2% 2% 2% 38%;
}


.header {
    width: 100%;
    background: greenyellow;
    display: block;
    text-align: center;
    font-size: 32px;
    font-family: cursive;
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu {
    overflow-x: hidden;
    float: left;
    position: fixed;
    width: 30%;
    display: flex;
    background: grey;
    height: 100vh;
    align-items: center;
    justify-content: center;
    transition: 1s;
    transform: translateX(-100%);
}

.menu_active {
    margin-left: 30%;
}


nav.menu-list {
    justify-content: space-around;
    display: flex;
    align-items: center;
    height: 50%;
    flex-direction: column;
}

a {
    font-size: 28px;
    color: azure;
    text-decoration: none;
    font-weight: 500;
}

a#menuBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    background: black;
    top: 35px;
}

h2 {
    font-family: 'Roboto Mono', monospace;
}

body {
    margin: 0;
    background-color: #e8f5e9;
}

.submitBtn {
    background: black;
    border-radius: 5px;
    color: wheat;
    padding: 5px;
    padding-inline: 10px;
}

.footer {
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: greenyellow;
}

.error {
    font-size: 32px;
    color: red;
    font-weight: bold;
}