body {
    text-align: center;
}

input {
    margin: 7px;
}

.main {
    width: 98%;
    display: inline-block;
    align-items: center;
    padding: 2%;
}


.header {
    width: 100%;
    background: #4CAF50;
    display: block;
    text-align: center;
    font-size: 32px;
    font-family: cursive;
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu {
    overflow-x: hidden;
    float: left;
    position: fixed;
    width: 30%;
    display: flex;
    background: grey;
    height: 100vh;
    align-items: center;
    justify-content: center;
    transition: 1s;
    transform: translateX(-100%);
}

.menu_active {
    margin-left: 30%;
}


nav.menu-list {
    justify-content: space-around;
    display: flex;
    align-items: center;
    height: 50%;
    flex-direction: column;
}

.menu-link {
    font-size: 28px;
    color: azure;
    text-decoration: none;
    font-weight: 500;
}

a#menuBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    background: black;
    top: 35px;
    left: 0;
}

h2 {
    font-family: 'Roboto Mono', monospace;
}

body {
    height: 100vh;
    margin: 0;
    background-color: #e8f5e9;
}

.submitBtn {
    background: black;
    border-radius: 5px;
    color: wheat;
    padding: 5px;
    padding-inline: 10px;
}

.footer {
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background: #4CAF50;
}

.error {
    font-size: 32px;
    color: red;
    font-weight: bold;
}

.container {
    text-align: center;
}

.col {
    height: 400px;
    width: 100%;
    margin-left: 1%;
    margin-bottom: 10px;
}

.card {
    height: 100%;
    width: 30%;
    display: inline-block;
    margin-right: 20px;
    background-color: black;
}

.img {
    background: #4CAF50;
    width: 90%;
    height: 75%;
    margin-left: 5%;
    margin-bottom: 2%;
}

.other {
    font-family: 'Karla', sans-serif;
    width: 90%;
    background: #4CAF50;
    height: 20%;
    margin-left: 5%;
}

.film-link {
    font-size: 16px;
    color: gold;
}

.message {
    margin-bottom: 30px;
    font-weight: bolder;
    color: #b3b3b3;
    font-size: 20px;
}

.message a {
    color: #4CAF50;
    text-decoration: none;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    background: #FEC606;
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: auto;
    padding: 45px;
    text-align: center;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: black;
}





